.cursor {
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 4px solid transparent;
    /* Set border to transparent */
    transform: translate(-11px, -11px);
    z-index: 9999;
    cursor: inherit;
    pointer-events: none;
    mix-blend-mode: difference;
    /* Blend mode to invert colors */

}

.cursor::after {
    box-shadow: 0 0 10px grey;
    content: '';
    border: 4px solid rgb(255, 255, 255);
    /* Original color of the circle */
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
}

.trail {
    position: absolute;
    width: 24px;
    /* 50% smaller than the cursor size */
    height: 24px;
    /* 50% smaller than the cursor size */

    box-shadow: inset 0 0 25px #a9a9a963;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* Adjust color and transparency as needed */
    border-radius: 50%/100px 100px 0 0;
    pointer-events: none;
    /* Ensure the trail does not interfere with underlying elements */
    z-index: 9999;
    /* transform: translate(10px,); */
    /* Move the trail below the cursor */
    /* Center the trail to the cursor */
}

@keyframes click {

    to {
        width: 66px;
        height: 66px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0),
            0 0 20px rgba(0, 0, 0, 0.0);

    }
}

.click {
    position: fixed;
    width: 16px;
    height: 16px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4),
        0 0 20px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: click 0.4s ease-in-out forwards;
}